<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <nav>
        <a href="/log-out">LOG OUT</a>
    </nav>

    <h1>Folders</h1>
    <% if (errors) { %>
        <p><% errors %></p>
    <% } %>
    <!-- Folder Information Table -->
    <% if (folders.length > 0) { %>
        <table border="1">
            <thead>
                <tr>
                    <th>Folder Name</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <% folders.forEach(folder => { %>
                    <tr>
                        <td><a href="/folders/<%= folder.folder_name %>"><%= folder.folder_name %></a></td>
                        <td><%= folder.createdAt %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No folders available.</p>
    <% } %>

    <!-- Folder Creation Form -->
    <div id="create-folder">
        <h4>Create New Folder</h4>
        <form action="/create-folder" method="post">
            <input type="text" name="folderName" placeholder="New folder name" required>
            <button type="submit">Create Folder</button>
        </form>
    </div>

    <script src="/assets/scripts.js"></script>
</body>
</html>
